.hero {
	background-image: url('/assets/fotoBuñueloArriba.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 2rem;
	position: relative;
	font-family: 'AtlasRegular';
}

.logo-container {
	max-width: 550px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.arrow-container {
	display: flex;
	justify-content: center;
}

@media (max-width: 767px) {
	.logo-container {
		max-width: 300px;
		padding-bottom: 4rem;
	}
	.hero {
		background-image: url('/assets/fotoBuñuelo.webp');
		justify-content: end;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.hero {
		background-attachment: scroll;
		padding-bottom: 15rem;
	}
	.logo-container {
		min-width: 500px;
	}
}

@media (min-width: 768px) {
	.hero {
		background-attachment: fixed;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.logo-container {
		max-width: 300px;
	}
	.hero {
		justify-content: flex-end;
	}
}
