.ig-btn {
    position: fixed;
    display: flex;
    z-index: 10;
    bottom: 2%;
    right: 1%;
    padding: 0.3rem;
    border-radius: 12px;
}

.insta-btn img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.insta-btn img {
    width: 30px;
}

@media (max-width: 767px) {
    .ig-btn {
        bottom: 1.5%;
        right: 3%;
    }
    .insta-btn img {
        width: 30px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .insta-btn img {
        width: 34px;
    }
}
