.ig-btn {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    z-index: 10;
    bottom: 2%;
    right: 1%;
    padding: 0.3rem;
    border-radius: 8px;
}

.insta-btn {
    background-color: rgba(255, 255, 255, 0.864);
    padding: 6px 8px;
    border-radius: 10px;
}

.insta-btn img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.insta-btn img {
    width: 30px;
}

@media (max-width: 767px) {
    .ig-btn {
        bottom: 0.6%;
        right: 1%;
    }
    .insta-btn {
        width: 40px;
    }
    .insta-btn img {
        width: 25px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .insta-btn img {
        width: 25px;
    }
}
