.image-container-1 {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.container-1A {
	width: 48%;
	display: flex;
}

.container-1B {
	width: 52%;
	display: flex;
}

#box1A {
	width: 45%;
	background-color: rgb(24, 24, 24);
	color: white;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-left: 1.2rem;
}

#box1A h1 {
	font-family: 'AtlasBold';
	font-size: 60px;
	letter-spacing: 3px;
	text-shadow: 4px 3px 0 rgb(116, 116, 116);
}

#box1B {
	width: 45%;
	background-color: #ed302f;
	display: flex;
	position: relative;
}

#img1 {
	width: 55%;
}

#img2 {
	width: 65%;
}

#img3 {
	width: 35%;
}

#img4 {
	width: 55%;
}

@media (max-width: 767px) {
	.image-container-1 {
		height: 360px;
		display: flex;
		flex-direction: column;
	}
	.container-1A {
		width: 100%;
		height: 50%;
		display: flex;
	}
	.container-1B {
		width: 100%;
		height: 50%;
		display: flex;
		flex-direction: row-reverse;
	}
	#box1A h1 {
		font-size: 30px;
		text-shadow: 3px 3px 0 rgb(116, 116, 116);
	}
	#box1A {
		width: 70%;
		max-height: 300px;
	}
	#box1B {
		width: 45%;
	}
	#img4 {
		width: 55%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.image-container-1 {
		max-height: 180px;
	}
	#box1A h1 {
		font-size: 35px;
		text-shadow: 3px 3px 0 rgb(116, 116, 116);
	}
}
