.buttons {
    position: fixed;
    display: flex;
    z-index: 10;
    bottom: 2%;
    right: 1%;
    background-color: #ED302F;
    border-radius: 12px;
    opacity: 0.9;
}

.insta-btn img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.insta-btn img {
    width: 40px;
}

@media (max-width: 767px) {
    .buttons {
        bottom: 1.5%;
        right: 3%;
        opacity: 0.8;
    }
    .insta-btn img {
        width: 34px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .insta-btn img {
        width: 34px;
    }
}
