.contact {
    position: fixed;
    z-index: 10;
    bottom: 2%;
    right: 1%;
}

.btn-contact {
    color: white;
    background-color: #ED302F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 0.6rem 2rem;
    border-radius: 15px;
    box-shadow: 0 3px 5px black;
    opacity: 0.9;
}

.btn-contact:hover {
    background-color: #ed2f2fb0;
}

@media (max-width: 767px) {
    .contact {
        bottom: 1%;
        right: 1.5%;
    }
    .btn-contact {
        font-size: 13px;
        padding: 0.4rem 0.9rem;
        border-radius: 12px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.508);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contact {
        bottom: 3%;
        right: 2%;
    }
    .btn-contact {
        font-size: 15px;
        padding: 0.5rem 1.4rem;
        border-radius: 12px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.707);
    }
}

@media (min-width: 1025px) {

}