.contact {
    position: fixed;
    z-index: 10;
    bottom: 2%;
    right: 1%;
}

.btn-contact {
    color: white;
    background-color: #ED302F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    padding: 0.6rem 2rem;
    border-radius: 15px;
    box-shadow: 0 3px 5px black;
    opacity: 0.9;
}

.btn-contact:hover {
    background-color: #ed2f2fb0;
}