.cooking {
    width: 100%;
    padding: 7rem 0;
    display: flex;
    align-items: center;
    background-color: rgb(223, 222, 222);
}

.chef-img-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chef-img-container div {
    overflow: hidden;
    width: 200px;
    height: 300px;
    position: relative;
    border-radius: 1px;
    box-shadow: 2px 2px 5px rgb(48, 48, 48);
}

.chef-img-container div img:hover {
    transform: scale(1.1);
    transition: transform 1.5s ease;
}

.chef-img-container div img:not(:hover) {
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

.chef-img-container div:nth-child(1) {
    bottom: 10px;
    right: 12px;
}

.chef-img-container div:nth-child(2) {
    top: 10px;
    left: 12px;
}

#chef1 {
    width: 100%;
    height: 100%;
}

#chef2 {
    width: 100%;
    height: 100%;
}

.chef-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.chef-text-container div:nth-child(1) {
    position: relative;
    right: 10%;
}

.chef-text-container div:nth-child(2) {
    position: relative;
    left: 10%;
}

.chef-text-container div:nth-child(3) {
    position: relative;
    right: 10%;
}

@media (max-width: 767px) {
    .cooking {
        padding: 5rem 0;
        flex-direction: column;
        gap: 5rem;
    }
    .chef-img-container {
        width: 100%;
    }
    .chef-img-container div {
        width: 150px;
        height: 220px;
    }
    .chef-text-container {
        width: 100%;
        gap: 2.3rem;
    }
    .chef-text-container div:nth-child(1) {
        right: 0;
    }
    .chef-text-container div:nth-child(2) {
        left: 0;
    }
    .chef-text-container div:nth-child(3) {
        right: 0;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .chef-img-container div {
        width: 150px;
        height: 220px;
    }
    .cooking {
        padding: 5rem 0;
    }
    .chef-img-container {

    }
    .chef-text-container {

    }
}


@media (min-width: 1025px) {

}