.ubi-btn {
    color: #616161;
    background-color: #EB413F;
    width: 48px;
    height: 48px;
    border-radius: 15px;
    box-shadow: 0 2px 4px black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    bottom: 2%;
    right: 11.7%;
}

.ubi-btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.ubi-btn img {
    width: 28px;
}

@media (max-width: 767px) {
    .ubi-btn {
        bottom: 1%;
        right: 22%;
    }
    .ubi-btn img {
        width: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ubi-btn {
        bottom: 2%;
        right: 13.5%;
    }
    .ubi-btn img {
        width: 28px;
    }
}