.navbar {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 20;
    color: rgb(114, 114, 114);
}

.navbar-list {
    display: flex;
}

.navbar-list-element {
    background-color: rgba(255, 255, 255, 0.699);
    padding: 1.5rem 4rem;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "AtlasLight";
}

.navbar-list-element:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;

}

.active {
    background-color: rgba(0, 0, 0, 0.742);
    color: white;
}

.active:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

@media (max-width: 767px) {
    .navbar-list-element {
        padding: 1rem 2rem;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar-list-element {
        padding: 1rem 3rem;
        font-size: 13px;
    }
}


@media (min-width: 1025px) {

}

