.text-bubble-left {
    position: relative;
    padding: 0rem 2rem;
    border-radius: 50px;
    height: 100px;
    width: 270px;
    color: rgb(255, 255, 255);
    background: #ED4241;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.252);
    font-family: "AtlasRegular";
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bubble-left:before {
    border: 35px solid #ED4241;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 95px)
}

.text-bubble-right {
    position: relative;
    padding: 0rem 2rem;
    border-radius: 50px;
    height: 100px;
    width: 270px;
    color: rgb(255, 255, 255);
    background: #ED4241;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.252);
    font-family: "AtlasRegular";
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bubble-right:before {
    border: 35px solid #ED4241;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -50px;
    left: calc(50% - -25px)
}

@media (max-width: 767px) {
    .text-bubble-left {
        text-align: center;
        height: 90px;
        width: 200px;
        padding: 0rem 1.6rem;
    }
    .text-bubble-right {
        text-align: center;
        height: 90px;
        width: 205px;
        padding: 0rem 1.6rem;
    }
    .text-bubble-left:before {
        bottom: -50px;
        left: calc(50% - 80px)
    }
    .text-bubble-right:before {
        bottom: -50px;
        left: calc(50% - -05px)
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .text-bubble-left {
        height: 80px;
        width: 170px;
    }
    .text-bubble-right {
        height: 80px;
        width: 170px;
    }
    .text-bubble-left:before {
        bottom: -50px;
        left: calc(50% - 55px)
    }
    .text-bubble-right:before {
        bottom: -50px;
        left: calc(50% - 12px)
    }
}


