.text-bubble-left {
    position: relative;
    border-radius: 20px;
    height: 80px;
    width: 350px;
    color: rgba(0, 0, 0, 0.73);
    background: rgb(255, 255, 255);
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.252);
    font-family: "AtlasRegular";
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.text-bubble-left:before {
    border: 35px solid rgb(255, 255, 255);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - 145px)
    
}

.text-bubble-right {
    position: relative;
    border-radius: 20px;
    height: 80px;
    width: 350px;
    color: rgba(0, 0, 0, 0.73);
    background: rgb(255, 255, 255);
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.252);
    font-family: "AtlasRegular";
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.text-bubble-right:before {
    border: 35px solid rgb(255, 255, 255);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - -75px)
}

