@font-face {
  font-family: 'AtlasRegular';
  src: url('/src/fonts/AtlasTypewriter-Regular.otf');
}

@font-face {
  font-family: 'AtlasBold';
  src: url('/src/fonts/AtlasTypewriterBold.otf');
}

@font-face {
  font-family: 'AtlasLight';
  src: url('/src/fonts/AtlasTypewriter-Light.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

* {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.app {
  width: 100%;
  overflow: hidden;
}



